*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    font-size: 62.5%;
  }
  @media (max-width: 991px) {
    html, body {
      font-size: 50%;
    }
  }
  @media (max-width: 768px) {
    html, body {
      font-size: 40%;
    }
  }
  body {
    background: #777;
  }
  .slider3d__inner, .slider3d__rotater, .slider3d__handle__inner, .slider3d__handle__rotater {
    position: relative;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .slider3d {
    overflow: hidden;
    position: relative;
    height: 100vh;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .slider3d.no-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .slider3d__wrapper {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider3d__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #000;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .slider3d__item:nth-child(1) {
    background-image: url(../img/001.jpg);
  }
  .slider3d__item:nth-child(2) {
    background-image: url(../img/002.jpg);
  }
  .slider3d__item:nth-child(3) {
    background-image: url(../img/003.jpg);
  }
  .slider3d__item:nth-child(4) {
    background-image: url(../img/004.jpg);
  }
  .slider3d__item:nth-child(5) {
    background-image: url(../img/005.jpg);
  }
  .slider3d__controls {
    display: none;
  }
  .slider3d.with-controls .slider3d__controls {
    display: block;
  }
  .slider3d__handle {
    z-index: 2;
    position: absolute;
    right: -2rem;
    top: 50%;
    width: 17rem;
    height: 7rem;
    margin-top: -3.5rem;
    cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuNCA0LjhsLTIuOS0yLjhoOC41djguNWwtMi44LTIuOHMtMS4yIDEuNC0xLjIgNC4zYzAgMy4xIDEuMiA0LjQgMS4yIDQuNGwyLjgtMi45djguNWgtOC41bDIuOC0yLjhzLTIuMy0yLjItMi4zLTcuMmMwLTQuOSAyLjQtNy4yIDIuNC03LjJ6Ii8+PHBhdGggZD0iTTEyLjIgNi4zcy0yLjIgMS44LTIuMiA1LjdjMCA0LjEgMi4xIDUuOCAyLjEgNS44bDEuOC0xLjh2NWgtNWwxLjgtMS44cy0yLjctMi4xLTIuNy03LjJjMC01IDIuOC03LjEgMi44LTcuMWwtMS45LTEuOWg1LjF2NS4xbC0xLjgtMS44Ii8+PC9zdmc+"), ns-resize;
  }
  .slider3d__handle__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
    background: #000;
    text-align: center;
    font-size: 1.8rem;
    line-height: 7rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .slider3d__handle__item:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s;
  }
  .slider3d__handle__item.active:after {
    opacity: 0;
  }
  .slider3d__control {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 50%;
    width: 15rem;
    height: 4rem;
    margin-top: -2rem;
    cursor: pointer;
  }
  .slider3d__control:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1rem;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
  }
  .slider3d__control.m--up {
    -webkit-transform: translateY(-6rem);
        -ms-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  .slider3d__control.m--up:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider3d__control.m--down {
    -webkit-transform: translateY(6rem);
        -ms-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  .slider3d__control.m--down:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }